---
layout: front
title: _front
description: _front
featured_image:
---


<html>
<head>
<style>
img {
  width: 55%;
}
</style>
</head>
<body>


<div class="row">

 <div class="column">
 <p> <b>Research and curation in</b> <br>
<br>
  - digital art <br> - artificial intelligence <br> - art and criticism on/of the blockchain <br> - intellectual property issues in digital art <br> - experimental videogame culture
  </p>
<p> <a href="https://rke.abertay.ac.uk/en/persons/martin-zeilinger"> Senior Lecturer in Computational Arts and Technology</a> at Abertay University in Dundee/Scotland.</p>
<p> <a href="/about">More...</a></p>
<hr>
<p> <b>_recent and upcoming:</b><br>
  {% for post in site.posts %}
      {% assign pin_var = post.pinned | plus: 0%}
      {% if pin_var == 1 %}
          <p> <b>'{{ post.title }}'</b> {{post.venue}}<br> {{ post.date | date: "%b %d %Y" }} -- {{ post.type }} <a href="{{ post.url }}">&#8618;</a></p>
      {% endif %}
  {% endfor %}
  <hr>

</p>
</div>
<div class="column">
<p>
<img src="/images/content/zeilinger-brochure-eng.png" alt="book cover">
</p>
<p> <a href="https://aksioma.org/structures-of-belonging"> Aksioma Postscriptum Series (January 2023)</a> </p>
<p> Read online or as free ebook </p>
</div>

</div>

</body>
</html>
